Library
Temp
Library
Temp
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
obj
Builds
Log

Assets/SteamVR/InteractionSystem/Longbow/Textures/BalloonColor.tga
Assets/SteamVR/InteractionSystem/Longbow/Textures/Longbow.psd
Assets/SteamVR/Scenes/example.unity
.vs
_material
Docs/Screenshots
Logs